.logout-btn {
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: 100%;
    color: black;
}

.visible {
    opacity: 1;
    display: block;
}

.invisible {

    display: none;
}
.avecmarge {

  margin: 100px;
}

.grid-img {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


.grid-container {
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item {
    border-radius: 5px;
    background-color: #eee;
    border: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-gap: 10px 10px;
        grid-template-columns: auto;
        padding: 10px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }

    .grid-item {
        border-radius: 5px;
        background-color: #eee;
        border: none;
        padding: 15px;
        font-size: 30px;
        text-align: center;
        width: 80%;
    }
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #654321;
}

input:focus + .slider {
    box-shadow: 0 0 1px #654321;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btn {
    border: 2px solid black;
    font-weight: 400;
    font-size: 15px;
    font-family: Poppins;

    margin: 10px 1px;

    border-radius: 6px;
    padding: 11px 22px;
    cursor: pointer;
    background: transparent;
    color: black;

}


.loginbtn {
    border: 2px solid white;


    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    color: #FFFFFF;

}

input {
    border: 2px solid black;

    padding: 10px;
    color: black;
    border-radius: 5px;
    background: transparent;

    outline: none;
}

.selectmenu {
    border: 2px solid black;


    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
    color: black;
}

#username {
    color: #654321;
}

.option {
    border: none;
    padding: 15px 15px;
    color: white;
    border-radius: 5px;
    background-color: #eee;
    color: black;


    outline: none;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 5px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#snackbartwo {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    border-radius: 5px;
}

#snackbartwo.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}



.centromax {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

p {
    text-align: center;
}
